<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Hospital Santa Luzia</title>
    <link rel="stylesheet" href="/static/css/homestyle.css?v=1.0.3">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body>

    <section id="hero">
        <nav class="navigation">
            <input type="checkbox" class="menu-btn" id="menu-btn">
            <label for="menu-btn" class="menu-icon">
                <span class="nav-icon"></span>
            </label>
            <a href="#" class="logo">Hospital Santa Luzia Agendamentos</a>
            <ul class="menu">
                <li><a href="#quem-somos">Quem Somos</a></li>
                <li><a href="#servicos">Serviços</a></li>
                <li><a href="#hero">Valores</a></li>
            </ul>
            <form action="/login" method="get">
                <button href="#" class="nav-btn-login" type="submit">Login</button>
            </form>

        </nav> <div class="hero-content">
        <div class="hero-text">
            <h1>Consultas ginecológicas com agendamento simples e rápido</h1>
            <p>Cuidando da mulher em todas as fases da vida</p>
            <div class="hero-text-btns">
                <button onclick="window.location.href='/login'" href="#">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    Achar doutor
                </button>
                <button onclick="window.location.href='/login'" href="#">
                    <i class="fa-solid fa-check"></i>
                    Agendar consulta
                </button>
            </div>
        </div>
        <div class="hero-img">
            <img src="../static/img/hero-image.png" alt="">
        </div>
        </div>
    </section> <div class="appointment-search-container">
        <h3>Ache o melhor médico para você</h3>
        <div class="appointment-search">
            <div class="appo-search-box">
                <i class="fa-solid fa-user-doctor"></i>
                <input type="text" placeholder="Procurar médicos" id="#">
            </div>
            <div class="appo-search-box">
                <i class="fa-solid fa-location-dot"></i>
                <input type="text" placeholder="Coloque sua localização" id="#">
            </div>
            <button onclick="window.location.href='/login'">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </div><section class="info">
        <div class="w-info-box w-info-box1">
            <div class="w-info-icon">
                <i class="fa-solid fa-file-lines"></i>
            </div>
            <div class="w-info-text">
                <strong>Agendamento Fácil</strong>
                <p>Marque sua consulta em poucos cliques, de forma prática e rápida.</p>
            </div>
        </div>
        <div class="w-info-box w-info-box2">
            <div class="w-info-icon">
                <i class="fa-solid fa-clock"></i>
            </div>
            <div class="w-info-text">
                <strong>Disponível 24h</strong>
                <p>Agende consultas a qualquer hora, com total flexibilidade.</p>
            </div>
        </div>
        <div class="w-info-box w-info-box3">
            <div class="w-info-icon">
                <i class="fa-solid fa-heart-pulse"></i>
            </div>
            <div class="w-info-text">
                <strong>Atedimento Humanizado</strong>
                <p>Cuidamos de você com empatia, respeito e atenção individual.</p>
            </div>
        </div>
    </section><section id="quem-somos">
        <div class="quem-somos-img">
            <img src="../static/img/quem-somos-img.png" alt="">
        </div>
        <div class="quem-somos-text">
            <h2>Um Pouco Sobre a Nossa Tragetória</h2>
            <p>A Clínica Hospitalar Santa Luzia nasceu em 2012 com o sonho de oferecer um atendimento humanizado, acessível e de qualidade para todos. Começamos com um pequeno consultório e, com o passar dos anos, crescemos ao lado da comunidade, investindo em tecnologia, estrutura moderna e uma equipe dedicada.</p>
            <p>Hoje, além de sermos referência em ginecologia e saúde da mulher, também acompanhamos gestantes em todas as fases da gravidez, oferecendo exames obstétricos, pré-natal e um cuidado especial para esse momento tão importante. Nosso compromisso é estar presente em todas as etapas da vida da mulher — do cuidado preventivo ao nascimento de uma nova vida — sempre com carinho, segurança e acolhimento.</p>
        <div class="story-number-container">
            <div class="story-number-box">
                <strong>500+</strong>
                <span>Pacientes Indicam</span>
            </div>
            <div class="story-number-box">
                <strong>25+</strong>
                <span>Doutores Especializados</span>
            </div>
        </div>
        </div>
    </section><section id="servicos">
        <div class="servicos-heading">
            <div class="servicos-heading-text">
                <strong>Serviços</strong>
                <h2>Serviços que oferecemos para nossos pacientes</h2>
            </div>
            <div class="services-slide-btns">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <div class="servicos-box-container">
            <div class="swiper mySwiperservicos">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                <div class="servicos-box">
                        <i class="fa-solid fa-person-dress"></i>
                        <strong>Exames preventivos</strong>
                        <p>Para acompanhar a saúde da mulher e detectar alterações precocemente</p>
                        <button onclick="window.location.href='/exames'">Clique aqui para mais informações</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="servicos-box">
                            <i class="fa-solid fa-person-pregnant"></i>
                            <strong>Exames Obstétricos</strong>
                            <p>Para o acompanhamento da saúde da gestante e do bebê</p>
                            <button  onclick="window.location.href='/exames'">Clique aqui para mais informações</button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                    <div class="servicos-box">
                            <i class="fa-solid fa-venus"></i>
                            <strong>Exames por Imagem</strong>
                            <p>Avaliações com tecnologia de imagem para diagnóstico preciso</p>
                            <button  onclick="window.location.href='/exames'">Clique aqui para mais informações</button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="servicos-box">
                                <i class="fa-solid fa-microscope"></i>
                                <strong>Exames Hormonais</strong>
                                <p>Para investigar alterações hormonais, fertilidade e outras condições</p>
                                <button  onclick="window.location.href='/exames'">Clique aqui para mais informações</button>
                            </div>
                        </div>
                    <div class="swiper-slide">
                        <div class="servicos-box">
                            <i class="fa-solid fa-hand-holding-heart"></i>
                            <strong> Saúde da Mulher na Menopausa</strong>
                            <p>Acompanhamento e prevenção de doenças relacionadas à menopausa</p>
                            <button  onclick="window.location.href='/exames'">Clique aqui para mais informações</button>
                        </div>
                    </div>
                </div> </div> </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <div class="footer-company-box">
                <a href="#" class="logo"><span>Hospital Santa</span> Luzia do Rocil</a>
                <p>Nosso compromisso é cuidar de você com carinho, respeito e qualidade.</p>
                <div class="footer-social">
                    <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
                    <a href="https://www.twitter.com/"><i class="fa-brands fa-x-twitter"></i></a>
                </div>
            </div>
            <div class="footer-link-box">
                <strong>Links</strong>
                <ul>
                    <li><a href="#hero">Home</a></li>
                    <li><a href="#quem-somos">Quem somos</a></li>
                    <li><a href="#servicos">Servicos</a></li>
                    <li><a href="#info">Valores</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <span>Made by HLSR</span>
            <span>Copyright 2025 - HLSR</span>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/static/js/home.js"></script>
</body>
</html>